body {
  
}

.jumbotron-home {
    background-image: url("https://cdn.blogo.it/gKCie6lhozHtSBnc74dhZNNUiW4=/1600x900/smart/https://www.blogo.it/app/uploads/2017/12/dirty-dancing.jpg");
    background-size: cover;
    height: 400px;
    background-size: 100% 100%;
    
}
h1,h3 {
    color: cornflowerblue;
}
body {
    background-color: rgb(197 212 224);
}

a, .btn {
    font-family: 'Segoe UI';
    color: #eb529a !important;
    font-size: large;
}


.nav-link:hover {
    background-color: #eddcdc !important;
}



.info, p {
    font-family: 'Segoe UI';
    font-size: medium;
    text-align: center;
    color: #5479bb;
}